---
export interface Props {
  id?: string;
  name?: string;
  value?: string;
  checked?: boolean;
  required?: boolean;
  disabled?: boolean;
  invalid?: boolean;
  describedby?: string;
  class?: string;
}

const {
  id,
  name,
  value,
  checked = false,
  required = false,
  disabled = false,
  invalid = false,
  describedby,
  class: className,
  ...restProps
} = Astro.props;
---

<label
  class:list={[
    "radio",
    disabled && "radio--disabled",
    invalid && "radio--invalid",
    className,
  ]}
>
  <input
    {...restProps}
    class="radio__input"
    id={id}
    name={name}
    value={value}
    type="radio"
    checked={checked}
    required={required}
    disabled={disabled}
    aria-invalid={invalid ? "true" : undefined}
    aria-describedby={describedby}
  />

  <span class="radio__control" aria-hidden="true"></span>

  <span class="radio__label">
    <slot />
  </span>
</label>